<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>导航列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="layouts/layui" /}
    <!-- 加载公共文件  -->
    <link href="__CMS__/css/zhang.css" rel="stylesheet">
</head>
<body>
<div class="div-body-show">
    {block name="body-content"}{/block}
</div>

<script>

</script>
</body>
{block name="single-content"}{/block}
</html>