{extend name='layouts/cms'}
{block name='body-content'}
<form class="layui-form form-opArticle layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称：</label>
        <div class="layui-input-inline">
            <input type="text" name="goods_name" required lay-verify="required"
                   value="{$good['goods_name']}"
                   placeholder="请输入标题" autocomplete="off" class="layui-input input-title-mz">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所属分类：</label>
        <div class="layui-input-block">
            <select name="cat_id" lay-verify="required">
                <option value="{$good['cat_id']}">{$good['cat_name']}</option>
                {volist name="categoryList" id="vo"}
                {if($vo['cat_id'] != $good['cat_id'] && $vo['cat_id']!=$good['cat_id'])}
                <option value="{$vo['cat_id']}">{$vo['cat_name']}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">缩略图片：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" name="img_upload" class="layui-btn btn_upload_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img class="layui-upload-img img-upload-preview" src="{$good['thumbnail']}">
        </div>
    </div>

    <input type="hidden" name="id" value="{$good['goods_id']}">
    <input type="hidden" name="thumbnail" class="menu-icon" value="{$good['thumbnail']}">
    <input type="hidden" name="slide_show" class="multiple-show-img" value="">
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图片：</label>
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="multiple-img-upload">多图片上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                预览：
                <div class="layui-upload-list" id="div-multiple-img-upload-preview">
                    {volist name="$good.arr_slide_show" id="slide"}
                    <img src="{$slide.picture}" alt="{$slide.picture}" title="点击删除"
                         class="layui-upload-img"
                         upload_img_id="{$slide.upload_img_id}"
                         onclick="delMultipleImgs(this)">
                    {/volist}
                </div>
            </blockquote>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="上架"
                   {if ($good['status'] == 1)}
            checked
            {/if}
            >
            <input type="radio" name="status" value="0" title="下架"
                   {if ($good['status'] == 0)}
            checked
            {/if};
            >
            <input type="radio" name="status" value="-1" title="删除"
                   {if ($good['status'] == -1)}
            checked
            {/if};
            >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">参考价：</label>
        <div class="layui-input-inline">
            <input type="number" name="reference_price"
                   value="{$good['reference_price']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">参考价两位小数：12.50)</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">售价：</label>
        <div class="layui-input-inline">
            <input type="number" name="selling_price"
                   value="{$good['selling_price']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(售价 两位小数：12.50)</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">库存：</label>
        <div class="layui-input-inline">
            <input type="number" name="stock"
                   value="{$good['stock']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">库存为整数</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order"
                   value="{$good['list_order']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越大，排序越靠前)</div>
    </div>


    <div class="layui-form-item layui-form-text ">
        <label class="layui-form-label">商品详情：</label>
        <div class="layui-input-block div-article-content">
            <script id="ue-container" name="details" type="text/plain">
                    {php}echo htmlspecialchars_decode($good['details']);{/php}


            </script>
        </div>
    </div>
    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn" type="button" onclick="editArticle({$good['goods_id']})">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">放弃</button>
        </div>
    </div>
</form>
{/block}

{block name='single-content'}
<script src="__CMS__/js/moZhang.js"></script>
{include file='layouts/ueditor-js'}
<script>
    //修改按钮的点击事件
    function editArticle(id) {
        var toUrl = "{:url('cms/goods/edit',['id'=>'AID'])}";
        toUrl = toUrl.replace('AID', id);
        var postData = $(".form-opArticle").serialize();
        ToPostPopupsDeal(toUrl, postData);
    }

    var multiple_images = [];
    layui.use('upload', function () {
        var upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '.btn_upload_img'
            , type: 'images'
            , exts: 'jpg|png|gif' //设置一些后缀，用于演示前端验证和后端的验证
            //,auto:false //选择图片后是否直接上传
            //,accept:'images' //上传文件类型
            , url: '/api/upload/img_file'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('.img-upload-preview').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                dialog.tip(res.message);
                //如果上传成功
                if (res.status == 1) {
                    $('.menu-icon').val(res.data.url);
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                return layer.msg('上传失败,请重新上传');
            }
        });

        //多图片上传
        upload.render({
            elem: '#multiple-img-upload'
            , url: '/api/upload/img_file'
            , multiple: true
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#div-multiple-img-upload-preview')
                        .append('<img src="' + result + '" alt="' + file.name
                            + '" title="点击删除" upload_img_id="0" class="layui-upload-img" onclick="delMultipleImgs(this)">')
                });
            }
            , done: function (res) {
                //如果上传成功
                if (res.status == 1) {
                    //追加图片成功追加文件名至图片容器
                    multiple_images.push(res.data.url);
                    $('.multiple-show-img').val(multiple_images);
                } else {
                    dialog.tip(res.message);
                }
            }
        });
    });

    //单击图片删除图片 【注册全局函数】
    function delMultipleImgs(this_img) {
        //获取下标
        var subscript = $("#div-multiple-img-upload-preview img").index(this_img);
        //删除图片
        this_img.remove();
        //删除数组
        multiple_images.splice(subscript, 1);
        //重新排序
        multiple_images.sort();
        $('.multiple-show-img').val(multiple_images);
        //TODO 此时判断是否当前的图片拥有 upload_img_id 属性，如果有，ajax 进行数据库删除操作
        ajax_del_upload_img(this_img)
        //console.log("multiple_images",multiple_images);
        //返回
        return;
    }

    /**
     * ajax 删除所上传的图片
     * @param this_img
     */
    function ajax_del_upload_img(this_img) {
        var upload_img_id = $(this_img).attr("upload_img_id");
        if (upload_img_id > 0) {
            var toUrl = "{:url('cms/goods/ajaxDelUploadImg')}";
            $.post(
                toUrl,
                {upload_img_id: upload_img_id},
                function (result) {
                    if (result.status = 0) {
                        layer.msg(result.message);
                    }
                }, "JSON");
        } else {
            //此时，不作处理
        }
    }
</script>
{/block}




