{extend name='layouts/cms'}
{block name='body-content'}
<form class="layui-form form-opArticle layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称：</label>
        <div class="layui-input-inline">
            <input type="text" name="goods_name" required lay-verify="required"
                   value="{$good['goods_name']}"
                   placeholder="请输入商品名称" autocomplete="off" class="layui-input input-title-mz">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">缩略图片：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" name="img_upload" class="layui-btn btn_upload_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img class="layui-upload-img img-upload-preview" src="{$good['thumbnail']}">
        </div>
    </div>

    <input type="hidden" name="id" value="{$good['goods_id']}">
    <input type="hidden" name="thumbnail" class="menu-icon" value="{$good['thumbnail']}">
    <input type="hidden" name="slide_show" class="multiple-show-img" value="">
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图片：</label>
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="multiple-img-upload">多图片上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                预览：
                <div class="layui-upload-list" id="div-multiple-img-upload-preview">
                    {volist name="$good.arr_slide_show" id="slide"}
                    <img src="{$slide.picture}" alt="{$slide.picture}" title="点击删除"
                         class="layui-upload-img"
                         upload_img_id="{$slide.upload_img_id}"
                         onclick="delMultipleImgs(this,1)">
                    {/volist}
                </div>
            </blockquote>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="上架"
                   {if ($good['status'] == 1)}
            checked
            {/if}
            >
            <input type="radio" name="status" value="0" title="下架"
                   {if ($good['status'] == 0)}
            checked
            {/if};
            >
            <input type="radio" name="status" value="-1" title="删除"
                   {if ($good['status'] == -1)}
            checked
            {/if};
            >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">参考价：</label>
        <div class="layui-input-inline">
            <input type="number" name="reference_price"
                   value="{$good['reference_price']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">售卖价：</label>
        <div class="layui-input-inline">
            <input type="number" name="selling_price"
                   value="{$good['selling_price']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(价格 两位小数：12.50)</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order"
                   value="{$good['list_order']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越大，排序越靠前)</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属分类：</label>
        <div class="layui-input-inline">
            <select id="toSelCatID" lay-filter="toSelCatID" name="cat_id" lay-verify="required">
                <option value="{$good['cat_id']}">{$good['cat_name']}</option>
                {volist name="categoryList" id="vo"}
                {if($vo['cat_id'] != $good['cat_id'] && $vo['cat_id']!=$good['cat_id'])}
                <option value="{$vo['cat_id']}">{$vo['cat_name']}</option>
                {/if}
                {/volist}
            </select>
        </div>

        <label class="layui-form-label">添加属性：</label>
        <div class="layui-input-inline">
            <select id="toSelSpecFst" lay-filter="toSelSpecFst"
                    lay-verify="required" lay-search="">
                <option value="">直接选择或搜索选择</option>
            </select>
        </div>
    </div>
    <blockquote class="layui-elem-quote layui-quote-nm block-goods-sku" style="margin-top: 10px;">
        <button type="button" class="layui-btn layui-btn-normal">销售信息：</button>
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr class="tr-specInfo-key">
                <th>属性名称</th>
                <th>属性赋值</th>
            </tr>
            </thead>
            <tbody class="tbody-specInfo-value">

            </tbody>
        </table>

        <button type="button" class="layui-btn layui-btn-danger">销售规格：</button>
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="150">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr class="tr-specInfo-key">
                <th>规格信息</th>
                <th>销售价格</th>
                <th>库存量(件)</th>
                <th>已售量(件)</th>
            </tr>
            </thead>
            <tbody class="tbody-specInfo-msg">
            {volist name="good.sku_arr" id="sku"}
            <tr>
                <td>{$sku.spec_name}
                    <input type="hidden" name="sku_arr[{$sku.spec_info}][spec_id]"
                           value="{$sku.spec_info}">
                    <input type="hidden" name="sku_arr[{$sku.spec_info}][spec_name]"
                           value="{$sku.spec_name}">
                </td>
                <td>
                    <input type="number" name="sku_arr[{$sku.spec_info}][selling_price]"
                           value="{$sku.selling_price}" required="" class="layui-input">
                </td>
                <td>
                    <input type="number" name="sku_arr[{$sku.spec_info}][stock]"
                           onblur="onblur_sku_stock()"
                           value="{$sku.stock}" required="" class="layui-input input-sku-stock">
                </td>
                <td>
                    <input type="number" name="sku_arr[{$sku.spec_info}][sold_num]"
                           value="{$sku.sold_num}" required="" class="layui-input">
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <input type="hidden" class="attr_info" name="attr_info" value="{$good['attr_info']}">
    </blockquote>

    <div class="layui-form-item">
        <label class="layui-form-label">库存：</label>
        <div class="layui-input-inline">
            <input type="number" name="stock" readonly
                   value="{$good['stock']}" required lay-verify="required"
                   autocomplete="off" class="layui-input input-goods_stock">
        </div>
    </div>
    <div class="layui-form-item layui-form-text ">
        <label class="layui-form-label">商品详情：</label>
        <div class="layui-input-block div-article-content">
            <script id="ue-container" name="details" type="text/plain">
                    {php}echo htmlspecialchars_decode($good['details']);{/php}
            </script>
        </div>
    </div>
    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn" type="button" onclick="editGoods({$good['goods_id']})">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">放弃</button>
        </div>
    </div>
</form>
{/block}

{block name='single-content'}
<script src="__CMS__/js/goods.js"></script>
<script src="__CMS__/js/moZhang.js"></script>
{include file='layouts/ueditor-js'}
<script>
    var arrSpecFull = [];
    var multiple_images = [];

    function makeSaleGoodsMsg() {
        goToMakeSaleGoodsMsg(arrSpecFull);
    }

    //修改按钮的点击事件
    function editGoods(id) {
        var toUrl = "{:url('cms/goods/edit',['id'=>'AID'])}";
        toUrl = toUrl.replace('AID', id);
        var postData = $(".form-opArticle").serialize();
        ToPostPopupsDeal(toUrl, postData);
    }

    /**
     * ajax 删除所上传的图片
     * @param this_img
     */
    function ajax_del_upload_img(this_img) {
        var toUrl = "{:url('cms/goods/ajaxDelUploadImg')}";
        goToAjax_del_upload_img(toUrl, this_img);
    }

    layui.use(['form'], function () {
        var form = layui.form;
        form.on('select(toSelCatID)', function (data) {
            //TODO 此时进行ajax的服务器访问，如果返回数据正常，则进行后面代码的调用
            var toUrl = "{:url('cms/specInfo/ajaxGetSpecInfoFstByCat')}";
            goToToSelCatID(toUrl, data, form);
        });
        //点击获取子级属性信息
        form.on('select(toSelSpecFst)', function (data) {
            //初始化 商品选择下拉列表
            //TODO 此时进行ajax的服务器访问，如果返回数据正常，则进行后面代码的调用
            var toUrl = "{:url('cms/specInfo/ajaxGetSpecInfoBySpecFst')}";
            goToToSelSpecFst(toUrl, data, form);
        });

        form.on('checkbox(cbSpecInfo)', function (data) {
            goToCbSpecInfo(data);
        });
    });

</script>
{/block}




