{extend name='layouts/cms'}
{block name='body-content'}
<form class="layui-form form-opArticle layui-form-paneX">
    <div class="layui-form-item">
        <label class="layui-form-label">广告标题：</label>
        <div class="layui-input-inline">
            <input type="text" name="ad_name" required lay-verify="required"
                   value="{$adData['ad_name']}"
                   placeholder="请输入广告标题" autocomplete="off" class="layui-input input-title-mz">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">广告配图：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" class="layui-btn btn_upload_icon">
                <i class="layui-icon">&#xe67c;</i>上传配图
            </button>
            <img class="layui-upload-img img-upload-preview-medium img-upload-icon"
                 src="{$adData['original_img']}">
            <input type="hidden" name="original_img" class="upload-icon" value="{$adData['original_img']}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标识TAG：</label>
        <div class="layui-input-inline">
            <input type="text" name="ad_tag" required lay-verify="required"
                   placeholder="唯一标识字符串(建议大写)"
                   value="{$adData['ad_tag']}"
                   autocomplete="off" class="layui-input input-title-mz">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">关联URL：</label>
        <div class="layui-input-inline">
            <input type="text" name="ad_url" required lay-verify="required"
                   placeholder="请输入AD活动图对应路径"
                   value="{$adData['ad_url']}"
                   autocomplete="off" class="layui-input input-title-mz">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">广告类型：</label>
        <div class="layui-input-inline">
            <select name="ad_type" lay-verify="required">
                <option value="0" {eq name="adData:ad_type" value="0" }selected{/eq} >首页幻灯片</option>
                <option value="1" {eq name="adData:ad_type" value="1" }selected{/eq} >首页倒计时</option>
                <option value="2" {eq name="adData:ad_type" value="2" }selected{/eq} >其他类型</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="startTime"
                       name="start_time" value="{$adData.start_time}" placeholder="yyyy-MM-dd HH:mm:ss">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="endTime"
                       name="end_time" value="{$adData.end_time}" placeholder="yyyy-MM-dd HH:mm:ss">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">前端显示：</label>
        <div class="layui-input-block">
            <input type="checkbox" {$adData['is_show']==1?"checked":""} name="is_show"
            lay-skin="switch" lay-filter="switchTest" lay-text="显示|隐藏">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order"
                   value="{$adData['list_order']}" required lay-verify="required"
                   placeholder="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越大，排序越靠前)</div>
    </div>

    <input type="hidden" name="id" value="{$adData['id']}">
    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn" type="button" onclick="editAdvertisement({$adData['id']})">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">放弃</button>
        </div>
    </div>
</form>

{/block}
{block name='single-content'}
<script src="__CMS__/js/moZhang.js"></script>
<script>
    //修改按钮的点击事件
    function editAdvertisement(id) {
        var toUrl = "{:url('cms/adList/edit',['id'=>'AID'])}";
        toUrl = toUrl.replace('AID', id);
        var postData = $(".form-opArticle").serialize();
        ToPostPopupsDeal(toUrl, postData);
    }

    layui.use(['upload','laydate'], function () {
        var upload = layui.upload;
        var tag_token = $(".tag_token").val();
        //普通图片上传
        var uploadInst = upload.render({
            elem: '.btn_upload_icon'
            , type: 'images'
            , exts: 'jpg|png|gif' //设置一些后缀，用于演示前端验证和后端的验证
            //,auto:false //选择图片后是否直接上传
            //,accept:'images' //上传文件类型
            , url: '/api/upload/img_file'
            , data: {'_token': tag_token}
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('.img-upload-icon').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                dialog.tip(res.message);
                //如果上传成功
                if (res.status == 1) {
                    $('.upload-icon').val(res.data.url);
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                return layer.msg('上传失败,请重新上传');
            }
        });

        var laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            type: 'datetime',
            trigger: 'click',
        });
        laydate.render({
            elem: '#endTime',
            type: 'datetime',
            trigger: 'click',
        });
    });

</script>
{/block}




