.layui-side-scroll .user-info {
    width: 200px;
    height: auto;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 8px;
}
.layui-side-scroll .user-info .photo-view {
    display: block;
    width: 76px;
    height: 76px;
    margin-left: 50px;
    padding: 0px;
}
.layui-side-scroll .user-info .photo-view img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 4px solid #44576B;
}
.layui-side-scroll .user-info p {
    display: block;
    width: 100%;
    height: 25px;
    color: #ffffff;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-top: 15px;
}
.layui-header .menu-switch{
    display: block;
    width: 27px;
    height: 30px;
    margin-left: -20px;
    background: url(../images/icon/menu.png) center center no-repeat;
    background-color: #ffffff;
    background-size: 100%;
    cursor: pointer;
}
.layui-tab-title{
    border-bottom: 3px solid #009688;
    width: 100%;
    margin: -1px -1px;
}

.iframe-body{
    width:100%;
    height: 93%;
    frameborder:0;
    scrolling:no;
}
.layui-tab-title .title-selected{
    background-color: #009688;
    color: white;
    font-weight: 600;
}
.layui-nav-item .img-FullScreen{
    width: 28px;
    height: 28px;
}
.layui-logo span{
    color:white ;
}

.table-body th,.table-body td{
    text-align:center;
}
.div-menu-search{
    float: left;
}
.div-menu-search .layui-icon{
    float: right;
}
.layui-nav-child .mul-to-Url{
    margin-left: 10px;
}
.layui-icon img{
    width: 22px;
    margin-right: 3px;
}
.td-menu img{
    width: 30px;
}




