{extend name="layouts/base" /}

{block name="content"}
<div class="content">
    <!---->
    <div class="container">
        <div class="col-md-8 content-left">
            <div class="information">
                <h4>今日赠言</h4>
                <div class="information_grids">
                    <div class="info">
                        <p>"{$todayWord['word']}"</p>
                        <p class="word-from">—— 《{$todayWord['from']}》</p>
                    </div>
                    <div class="info-pic">
                        <img src="{$todayWord['picture']}"
                             class="img-responsive " alt=""/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="games-grids">
                {volist name="list" id="vo"}
                <div class="game-grid-left">
                    <div class="grid1 div-index-grid">
                        <h5 class="act">
                            <a href="{:url('index/article/'.$vo['id'])}">Action</a></h5>
                        <a href="{:url('index/article/'.$vo['id'])}">
                            <img src="{$vo['picture']}"
                                 class="img-responsive index-img-responsive" alt=""/></a>
                        <div class="grid1-info index-grid1-info div-article-view">
                            <h4>
                                <a href="{:url('index/article/'.$vo['id'])}">{$vo.title}</a>
                            </h4>
                            <p class="p-article-abstract">{$vo['abstract']}</p>
                        </div>
                        <div class="more">
                            <a href="{:url('index/article/'.$vo['id'])}">Read more</a>
                        </div>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
        <div class="col-md-4 content-right">
            <!---->
            <div class="category blog-ctgry">
                <h4>Top Articles</h4>
                <div class="list-group">
                    {volist name="recommendList" id="vo"}
                    <a href="{:url('index/article/'.$vo['id'])}" class="list-group-item a-article-recommend">
                        {$vo.title}
                    </a>
                    {/volist}

                </div>
            </div>
            <div class="photo-gallery">
                <h4>Photo Gallery</h4>
                <div class="gallery-1 div-article-gallery">
                    {volist name="photos" id="vo"}
                    <div class="col-md-4 gallery-grid-pic">
                        <a class="example-image-link" href="{$vo.picture}" data-lightbox="example-set">
                            <img class="example-image" src="{$vo.picture}" alt=""/>
                        </a>
                    </div>
                    {/volist}
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
{/block}

