{extend name="layouts/cms"}
{block name='body-content'}
<style>
    body {
        padding: 0;
        margin: 0;
        height: 100%;
        background-size: 100%;
        background-image: url(../cms/images/home2.png);
        background-repeat: no-repeat;
    }

    .div-warmTip-left {
        position: relative;
        width: 33%;
    }

    .div-warmTip-left .layui-colla-content,
    .div-warmTip-left .layui-timeline-content,
    .div-warmTip-right .layui-card-body {
        background-color: #393D49;
        color: wheat;
    }

    .div-warmTip-left .layui-timeline-title {
        color: #b94a48;
    }

    .div-warmTip-right {
        position: absolute;
        width: 30%;
        float: right;
        right: 0px;
        top: 0px;
        z-index: 100;
        margin-right: 5px;
    }

    .div-warmTip-right a {
        color: #ce8483;
    }

    .div-warmTip-right b {
        color: #a6e1ec;
    }
</style>

<div class="div-warmTip-left">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>☂ 如果时间刚刚好</legend>
    </fieldset>
    <div class="layui-collapse" lay-accordion="">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">最新更新➷ </h2>
            <div class="layui-colla-content layui-show">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">2018-11-29</h3>
                        <p>
                            > tp5.sql文件更新，增加表nav_menus的action字段长度;
                            <br>> 优化登录、登出判断逻辑;
                            <br>> 删减了之前没必要存在的页面重定向;
                        </p>
                    </div>
            </div>
        </div>

        <div class="layui-colla-item">
            <h2 class="layui-colla-title">第二版日志➷ </h2>
            <div class="layui-colla-content">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2018-11-28</h3>
                            <p>
                                > 补充几天前错删的 role.js 文件;
                                <br>> 对公共类 BaseModel 中的 validate() 进行了优化;
                                <br>> 补充了ThinkPHP5.1 下的表单令牌功能;
                                <br>> 更新了所有的 model类，降低 CSRF 恶意攻击
                            </p>
                        </div>
                    </li>

                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2018-11-24</h3>
                            <p>
                                > 着重优化后台管理员访问权限;
                                <br>> 优化排除Linux对路径索引大小写敏感无法识别的Bug
                                <br>> 对数据表 "tp5_nav_menus" 添加字段 "type";
                                <br>> 用以区别导航菜单与权限路径;
                                <br>> 补充了 "文章管理" 和 "今日赠言" 的分页获取功能;
                                <br>> 提交最新的 "tp5_pro.sql" 数据库文件
                            </p>
                        </div>
                    </li>

                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">第二版整理.</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-colla-item">
            <h2 class="layui-colla-title">第一版日志➷ </h2>
            <div class="layui-colla-content">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2018-11-22</h3>
                            <p>
                                > 优化了页面的边框显示问题，主要是自己看着顺眼、中意;
                                <br>> 顺带变更了几个图片资源;
                                <br>> 首页补充了面板功能，可以清晰展示更新时间线;
                                <br>> 博客同步更新;
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2018-11-21</h3>
                            <p>
                                > 数据库表字段优化，文件 tp5_pro.sql上传;
                                <br>> 导航菜单的图标统一资源替换，展示效果人性化;
                                <br>> 对公共布局文件 css、js 的命名尽量统一规划，删减冗余代码;
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2018-11-09</h3>
                            <p>
                                > 补充对 model 类操作的规则验证(validate);
                                <br>> 优化菜单栏链接，排除跳转无效的Bug;
                                <br>> 优化管理员角色权限设置
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2018-06-04</h3>
                            <p>
                                > 公共文件优化、替换;
                                <br>> 管理系统测试已基本可以使用;
                                <br>> 补充 404,500异常效果，剔除不用的 public/upload 资源;
                                <br>> 第一版本框架源码完善，Github上传;
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2018 新年伊始</div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--此处，温馨提示哦-->
<div class="div-warmTip-right">
    <fieldset class="layui-elem-field layui-field-title"
              style="margin-top: 50px">
        <legend>☁ 温馨提示</legend>
    </fieldset>
    <div class="layui-card-body">
        ♩. 开源框架支持：<b>ThinkPHP5.1.2</b>，
        <b><a href="https://www.layui.com/">LayUI经典前端</a></b>，
        <b>UEditor富文本编辑器</b><br>
        ♪. 图片资源来自：
        <b><a href="https://weibo.com/p/1035051252103722/home?is_hot=1">吾皇的白茶</a></b>，
        <b><a href="http://www.iconfont.cn/plus">阿里巴巴矢量图标库</a></b><br>
        ♫. 后期会尽心对重要功能进行增加、扩展、优化<br>
        ♬. 详情、疑问、答疑、吐槽等，请移驾同步文章 :
        <b><a href="https://blog.csdn.net/u011415782/article/details/79307673">
            moTzxx-CMS —— [一个基于PHP代码的后台管理系统]
        </a>
        </b><br>
        §. 只要别伤了鄙人自尊，那么... 欢迎道友指摘、吐槽咯~ ➷➷➷
    </div>
</div>

{/block}

